.tic-tac-toe {
    width: 350px;
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 190px;
    left: 0;
    right: 0;
    margin: auto auto;
    transition: all 0.3s ease;
}

.intro {
    width: 82%;
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}

.intro p {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

.board {
    position: relative;
}

.board-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.board-cell {
    margin: 2.4px;
    width: 90px;
    height: 90px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 5px;
    transition: all 0.3s ease;
    color: #17a2b8;
}

.board-cell:hover {
    transform: scale(0.95);
}

.turn {
    color: var(--main-color);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
}

.restart {
    background-color: var(--main-color);
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin: 10px 0;
    transition: all 0.3s ease;
}

.restart:hover {
    transform: scale(0.96);
}

.result {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    color: #000000;
    font-size: 2.5rem;
    font-weight: bold;
    width: 100%;
    width: 400px;
    height: 200px;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(1);
}