body{
    margin: 0;
}

.main-container{
    padding: 0;
    min-width: 1000px;
}

/* SECTION 1 CSS */

.section-one{
    padding-top:  58px;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #87509C;
    font-family: Titillium Web;
    color:white;
    height: 570px;
}

.section-one-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-one .menu {
    width: 60%;
    font-size: 16px;
    align-items: center;
}

.section-one .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section-one .menu li{
    cursor: pointer;
}

.section-one .menu .menu-button{
    padding: 8px;
    background-color:#643A79;
    border-radius: 5px;
    text-align: center;
}

.section-one .cuda-content{
    margin: 0;
    padding-top: 140px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.section-one .cuda-button{
    margin-top: 10px;
    font-family: Titillium Web;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EB7D4B;
    width: 300px;
    height: 70px;
    border-radius: 5px;
    cursor: pointer;
    border-bottom:rgba(0,0,0,0.15);
    box-shadow: 0px 4px rgba(0,0,0,0.15);
}

.section-one span{
    display: flex;
    justify-content: center;
}


/* SECTION 2 CSS */

.section-two{
    background-color: #17C2A4;
    padding-top:  58px;
    padding-left: 15%;
    padding-right: 15%;
    font-family: Titillium Web;
    color:white;
    height: 680px;
}

.section-two .around-hr{
    text-align: center;
}

.section-two .around-hr hr{
    border: 2px solid rgba(0,0,0,0.15);
    width: 70px;
    background-color: rgba(0,0,0,0.15);
    margin-bottom: 35px;
}

.section-two .around-hr .title{
    font-weight: 700;
    font-size: 35px;
}

.section-two .around-hr p{
    font-weight: 400;
    padding: 0;
    margin: 10px;
}

.section-two .services-content{
    display: flex;
    margin-top: 75px;
    justify-content: space-between;
}

/* branding cell */

.section-two .services-content .branding{
    text-align: center;
}

.section-two .services-content .branding img{
    width: 120px;
    height: 124px;
}

.section-two .services-content .branding h3{
    margin-top: 60px;
}

.section-two .services-content .branding p{
    width: 190px;
}

/* design cell */

.section-two .services-content .design{
    text-align: center;
}

.section-two .services-content .design img{
    width: 90px;
    height: 131px;
}

.section-two .services-content .design h3{
    margin-top: 53px;
}

.section-two .services-content .design p{
    width: 170px;
}

/* developer cell */

.section-two .services-content .development{
    text-align: center;
}

.section-two .services-content .development img{
    width: 159px;
    height: 126px;
}

.section-two .services-content .development h3{
    margin-top: 57px;
}

.section-two .services-content .development p{
    width: 191px;
}

/* rocket science cell */

.section-two .services-content .rocket-science{
    text-align: center;
}

.section-two .services-content .rocket-science img{
    width: 95px;
    height: 134px;
}

.section-two .services-content .rocket-science h3{
    margin-top: 49px;
}

.section-two .services-content .rocket-science p{
    width: 187px;
}

/* SECTION 3 CSS */

.section-three{
    background-color: #E7F1F8;
    padding-top:  58px;
    padding-left: 15%;
    padding-right: 15%;
    font-family: Titillium Web;
    color: #3C4761;
    height: 915px;
    text-align: center;
}

.section-three .around-hr{
    text-align: center;
}

.section-three .around-hr hr{
    border: 2px solid #BDD1DFBF;
    width: 70px;
    background-color: #BDD1DFBF;
    margin-bottom: 35px;
}

.section-three .around-hr .title{
    font-weight: 700;
    font-size: 20px;
}

.section-three .around-hr p{
    font-weight: 100;
    padding: 0;
    margin: 10px;
}

.section-three .team-container{
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
}

.section-three .team-container .team-members{
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.section-three .team-container .team-members img{
    padding-bottom: 40px;
    width: 200px;
    height: 200px;
}

.section-three .team-container .team-members h2,p {
    margin: 0;
}

.section-three .team-container .team-members .team-subtitle{
    color: #30BAE7;
}

.section-three .team-container .team-members .icons i{
    margin: 5px;;
    width: 16px;
    height: 16px;
    padding: 7px;
    margin-top: 40px;
    background-color: #BDD1DF;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

/* SECTION 4 CSS*/

.section-four{
    background-color: white;
    padding-top:  58px;
    padding-left: 15%;
    padding-right: 15%;
    font-family: Titillium Web;
    color: #3C4761;
    height: 550px;
    text-align: center;
}

.section-four .around-hr{
    text-align: center;
}

.section-four .around-hr hr{
    border: 2px solid #BDD1DFBF;
    width: 70px;
    background-color: #BDD1DFBF;
    margin-bottom: 35px;
}

.section-four .around-hr .title{
    font-weight: 700;
    font-size: 20px;
}

.section-four .around-hr p{
    max-width: 650px;
    font-weight: 100;
    padding: 0;
    margin: auto auto;
}

.section-four .skills-container{
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
}

.section-four .skills-container .skill-cells{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-four .skills-container .skill-cells .background-img{
    background-repeat: no-repeat;
    display: flex;
    font-weight: 100;
    width: 160px;
    height: 160px;
    font-size: 50px;
}

.section-four .skills-container .skill-cells .background-img .alignment{
    margin: auto;
}

.section-four .skills-container .skill-cells .web-img{
    background-image: url(./flexboximages/WEB.png);
}

.section-four .skills-container .skill-cells .html-css-img{
    background-image: url(./flexboximages/html_css.png);
}

.section-four .skills-container .skill-cells .graphic-design-img{
    background-image: url(./flexboximages/graphic_design.png);
}

.section-four .skills-container .skill-cells .ui-ux-img{
    background-image: url(./flexboximages/ux_ui.png);
}

/* SECTION 5 CSS */

.section-five{
    background-color: #FFDD99;
    padding-top:  58px;
    padding-left: 15%;
    padding-right: 15%;
    font-family: Titillium Web;
    color: #3C4761;
    height: 1300px;
    text-align: center;
}

.section-five .around-hr{
    text-align: center;
}

.section-five .around-hr hr{
    border: 2px solid #E5C37F;
    width: 70px;
    background-color: #E5C37F;
    margin-bottom: 35px;
}

.section-five .around-hr .title{
    font-weight: 700;
    font-size: 20px;
}

.section-five .around-hr p{
    max-width: 650px;
    font-weight: 100;
    padding: 0;
    margin: auto;
}

.section-five .menu{
    display: flex;
    padding: 40px;
}

.section-five .menu ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    display: flex;
}

.section-five .menu li{
    margin-right: 10px;
    cursor: pointer;
}

.section-five .menu .menu-button{
    width: 74px;
    border-radius: 5px;
    text-align: center;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.08);
}

.section-five .menu .selected{
    background-color:white;
}

.section-five .content-container{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    height: auto;
}

.section-five .content-container .img-size img{
    width: 486px;
    height: 279px;
}

.section-five .vertical-subsection p{
    color: #393939;
    padding-top: 20px;
    padding-bottom: 50px;
}

.section-five .section-five-button{
    color: white;
    font-family: Titillium Web;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #17C2A4;
    width: 300px;
    height: 70px;
    border-radius: 5px;
    cursor: pointer;
    border-bottom:rgba(0,0,0,0.15);
    margin: auto;
    box-shadow: 0px 4px rgba(0,0,0,0.15);
}

/* SECTION SIX CSS */

.section-six{
    background-color: #D74680;
    padding-top:  58px;
    padding-left: 15%;
    padding-right: 15%;
    font-family: Titillium Web;
    color: white;
    height: 800px;
    text-align: center;
}

.section-six .around-hr{
    text-align: center;
}

.section-six .around-hr hr{
    border: 2px solid rgba(0,0,0,0.15);
    width: 70px;
    background-color: rgba(0,0,0,0.15);
    margin-bottom: 35px;
}

.section-six .around-hr .title{
    font-weight: 700;
    font-size: 20px;
}

.section-six .around-hr p{
    max-width: 650px;
    font-weight: 100;
    padding-bottom: 100px;
    margin: auto;
}

.section-six .content-container .content-row{
    display: flex;
    justify-content: space-around;
    padding-bottom: 80px;
}

.section-six .content-container .content-row .wrapper{
    display: flex;
    width: 450px;
}

.section-six .content-container .content-row .wrapper img{
    width: 90px;
    height: 90px;
    padding-right: 40px;
}

.section-six .content-container .content-row .wrapper .cell{
    text-align: left;
}

.section-six .content-container .content-row .wrapper .cell .italic{
    font-style: italic;
}

.section-six .content-container .content-row .wrapper .cell h2{
    margin-top: 30px;
    margin-bottom: 0;
}

.section-six .content-container .content-row .wrapper .cell .subtitle{
    color: #FFDD99;
    margin:0;
}

/* SECTION SEVEN CSS */

.section-seven{
    background-color: #3C5499;
    padding-top:  58px;
    padding-left: 15%;
    padding-right: 15%;
    font-family: Titillium Web;
    color: white;
    height: 800px;
    text-align: center;
}

.section-seven .around-hr{
    text-align: center;
}

.section-seven .around-hr hr{
    border: 2px solid #273A71;
    width: 70px;
    background-color: #273A71;
    margin-bottom: 35px;
}

.section-seven .around-hr .title{
    font-weight: 700;
    font-size: 20px;
}

.section-seven .around-hr p{
    font-weight: 100;
    padding-bottom: 100px;
    margin: auto;
}

.section-seven .input-fields{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 400;
    font-family: Titillium Web;
}

.section-seven .input-fields input::placeholder{
    padding: 20px;
    color: white;
}

.section-seven .input-fields .name-email{
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.section-seven .input-fields .name-email input{
    width: 475px;
    height: 50px;
    background-color: #273A71;
    border: 1px solid #273A71;
    border-radius: 5px;
}

.section-seven .input-fields .message-box textarea{
    border: none;
    padding: 0;
    width: 100%;
    height: 200px;
    background-color: #273A71;
    border-radius: 5px;
}

.section-seven .input-fields .message-box textarea::placeholder{
    color: white;
    padding: 20px;
    font-size: 400;
    font-family: Titillium Web;
}

.section-seven .section-seven-button{
    color: white;
    font-family: Titillium Web;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #30BAE7;
    width: 300px;
    height: 70px;
    border-radius: 5px;
    cursor: pointer;
    border-bottom:rgba(0,0,0,0.15);
    margin: auto;
    box-shadow: 0px 4px rgba(0,0,0,0.15);
}

.section-seven-footer{
    padding-left: 15%;
    padding-right: 15%;
    font-family: Titillium Web;
    font-size: 25px;
    font-weight: 700;
    color: white;
    height: 120px;
    background-color: #344B8E;
}

.section-seven-footer .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section-seven-footer .menu .menu-button{
    color: #30BAE7;
}

.section-seven-footer .menu li{
    cursor: pointer;
}