* {
    user-select: none;
}

:root {
    --boder-radius: 5px;
    --main-font: JosefinSans;
    --btn-main-color: #eb5031;
    --text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

::placeholder {
    font-family: var(--main-font);
}

p {
    font-size: 20px;
}

h1,
p {
    text-shadow: var(--text-shadow);
}

#player1-name,
#player2-name {
    padding: 5px;
    text-align: center;
    border: 2px solid gray;
    border-radius: var(--boder-radius);
}

.error {
    background: #FFC199;
    color: black;
    border: 2px solid black;
}

.menu {
    top: 100px;
    position: fixed;
    background-color: white;
    text-align: center;
    max-width: 60%;
    border-radius: var(--boder-radius);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: ease .4s;
}

.transition-fix {
    display: grid;
    justify-content: center;
}

.main-menu {
    min-width: 435px;
}

.menu .btns {
    display: flex;
    justify-content: space-between;
}

.menu-content {
    padding: 30px;
    display: grid;
}

.board-size {
    background-color: white;
}

.player-names-menu {
    height: 135px;
}

.player-names-menu .spacing {
    margin-bottom: 25px;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.gone {
    display: none;
}

.visible {
    opacity: 1;
    pointer-events: all;
}

a {
    border: 2px solid black;
    background-color: var(--btn-main-color);
    text-shadow: var(--text-shadow);
}

button:hover,
a:hover {
    transform: scale(95%);
}

.menu .main-options-container {
    margin-top: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    text-align: center;
}

.menu .radio-buttons {
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

.inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.not-clickable {
    pointer-events: none;
}

input[type="radio"],
label {
    cursor: pointer;
}

.board-size,
.multi-inputs {
    border-radius: var(--boder-radius);
}

.multi-inputs {
    margin-top: 20px;
    padding: 20px;
    height: 170px;
}

.radio-buttons>span {
    padding: 5px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: var(--boder-radius);
}