body {
    display: flex;
    justify-content: center;
}

html {
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle farthest-side, #ff512f, #f09819);
    font-family: var(--main-font);
}

.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: ease .4s;
}

.controls {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: center;

}

.bottom-menu-btn {
    display: flex;
    justify-content: space-between;
}

button,
a,
.stats {
    background: #282A3A;
    color: #FFF;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    font-size: 18pt;
    transition: ease .3s;
}

.disabled {
    color: #757575;
}

.stats {
    width: 100px;
    color: #FFF;
    font-size: 14pt;
}

.current-turn {
    border: 5px solid black;
    background-color: chocolate;
}

.board-container {
    position: relative;
    margin-bottom: 30px;
}

.board,
.win {
    border-radius: 5px;
    box-shadow: 0 25px 50px rgb(33 33 33 / 30%);
    background-image: radial-gradient(circle farthest-side, #ff512f, #f09819);
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.board {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
}

.board-container.flipped .board {
    transform: rotateY(180deg) rotateZ(50deg);
}

.board-container.flipped .win {
    transform: rotateY(0) rotateZ(0);
}

.card {
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.card-front:hover {
    transform: scale(95%);
}

.card-front,
.card-back {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: #282A3A;
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg) rotateZ(50deg);
    font-size: 28pt;
    user-select: none;
    text-align: center;
    line-height: 100px;
    background: #FDF8E6;
}

.card.flipped .card-front {
    transform: rotateY(180deg) rotateZ(50deg);
}

.card.flipped .card-back {
    transform: rotateY(0) rotateZ(0);
}

.win {
    width: 100%;
    height: 200px;
    text-align: center;
    background: #FDF8E6;
    transform: rotateY(180deg) rotateZ(50deg);
}

.win-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21pt;
    color: #282A3A;
}

.highlight {
    color: #6f00fc;
}