@font-face {
  font-family: 'Crimson';
  src: url('CrimsonText-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson';
  src: url('CrimsonText-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson';
  src: url('CrimsonText-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Work Sans';
  src: url('WorkSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('WorkSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('WorkSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}