body{
    background-color:cadetblue;
}

.main-container{
    background-color:rgba(243,242,242,255);
    border: 1px solid red;
    margin-left: 35%;
    margin-right: 35%;
    padding: 20px;
    min-width: 300px;
}

.email-top-cell{
    background-color: rgba(255,123,91,255);
    text-align: center;
    padding: 7%;
}

.email-bottom-cell{
    background-color: white;
    padding: 20px;
    text-align: center;
}

.footer-like-cell{
    padding:10px;
    text-align: center;
}

a{
    float: right;
    margin-top: 35px;
}

.email-logo-top{
    scale: 300%;
    color: white;
}

.facebook-logo{
    padding: 10px;
    scale: 200%;
    color: rgb(66, 103, 178);
    cursor: pointer;
}

.twitter-logo{
    padding: 10px;
    scale: 200%;
    color: rgb(29, 161, 242);
    cursor: pointer;
}

.email-logo-bottom{
    padding: 10px;
    border-radius:20px;
    scale: 85%;
    background-color: #ffC338;
    color: white;
    cursor: pointer;
}

button{
    text-align: center;
    color: white;
    padding: 10px;
    border: none;
    background-color: rgba(255,123,91,255);
    border-radius: 4px;
    cursor: pointer;
}

.copyright{
    font-size: small;
}