body{
    background-color: rgba(243,243,242,255);
}

.main-container{
    margin-left: 30%;
    margin-right: 30%;
    padding: 70px;
    min-width: 400px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 25px;
}

.company-logo{
    scale: 150%;
    color: rgba(208,208,209,255);
    padding: 20px;
}

.image-container{
    padding: 20px;
    background-color: #FFD301;
    min-height: 300px;
}

.text-container{
    padding: 50px;
    background-color: rgba(254,255,254,255);
    padding-top: 20px;
}

hr{
    border: 1px solid rgba(255,211,1,255);
    width: 70px;
    background-color: rgba(255,211,1,255);
}

.actual-text{
    text-align: left;
    line-height: 180%;
    padding: 20px;
}

.view-details{
    padding: 10px;
    border: 3px solid rgba(255,211,1,255);
    background-color: rgba(254,255,254,255);
    font-weight: bold;
    cursor: pointer;
}

h6{
    color: rgba(255,251,235,255);
}

.footer-stuff{
    padding: 30px;
    color: rgba(179,177,179,255);
    font-size: 10px;
}

.icons{
    margin-top: 80px;
    text-align: center;
}

.unsubscribe{
    border: 0px;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
}