.main-container{
    background-color: black;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    min-height: 100vh;
}

.title{
    padding: 20px;
}

.white-text{
    color: white;
}

.white-play{
    color: white;
    scale: 200%;
    margin-top: 30px;
    margin-bottom: 70px;
}

.image-container{
    width: 100%;
}

.biography{
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
}

.small-bio{
    font-size: 15px;
}

.hr{
    margin: 30px auto;
    width: 50%;

}

.small-text{
    font-size:10px;
    padding: 5px;
}

a{
    color: #0E8EA8;
}