.main-menu-cover {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--bkg-img);
    object-fit: cover;
}

.single,
.multi,
.start-multi-game {
    transition: all 0.3s ease;
}

.single:hover,
.multi:hover,
.start-multi-game:hover {
    transform: scale(0.96);
}

.card {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.show-menu,
.hide-menu,
.show-game,
.hide-game {
    transition: all 0.3s ease;
}

.show-menu,
.show-game {
    opacity: 1;
}

.hide-menu,
.hide-game {
    pointer-events: none;
    opacity: 0;
}

.incorrect-field {
    background-color: palegoldenrod;
}

.text-input {
    border: 3px solid #ccc;
    width: 100%;
    border-radius: 5px;
}

.menu-multi {
    position: absolute;
    top: 52%;
    left: 47%;
    transition: all 0.5s ease;
}