.contact-section .image-container img {
    max-height: 384px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-section .text-container {
    max-width: 430px;
    margin: 0 auto;
}

.contact-section .text-container h1 {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    color: #000000;
}

.contact-section .text-container p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #000000;
}

.contact-section .container.margin {
    margin-top: 30px;
}

.contact-section .container.spacing {
    margin-top: 55px;
}

.contact-section a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212529;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    height: 48px;
    width: 100%;
}

.contact-section label {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #000000;
}

.contact-section input,
.contact-section textarea {
    background-color: #EEEEEE;
    margin-bottom: 20px;
}

.contact-section {
    margin-bottom: 100px;
}

.contact-section textarea {
    height: 85px;
}


/* Desktops */
@media (min-width: 1200px) {}

/* Small desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Tablets */
@media (min-width: 768px) and (max-width: 991px) {}

/* Mobile */
@media (max-width: 767px) {
    .contact-section textarea {
        height: 300px;
    }

    .contact-section label:first-child {
        padding-top: 25px;
    }
}