footer {
    background-color: var(--bg-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 35px 0;
    z-index: 2;
    color: #FFFFFF;
    flex-shrink: 0;
}

.footer-copyright {
    display: flex;
    justify-content: flex-end;
}

i {
    color: white;
}


@media (max-width: 767px) {
    .footer-container {
        text-align: center;
    }

    .footer-copyright {
        display: flex;
        justify-content: center;
    }
}