:root {
    --bg-color: #F25C05;
}

header {
    position: fixed;
    background-color: var(--bg-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    padding: 35px 0;
    z-index: 2;
}

main {
    padding-top: 120px;
}

@media (max-width: 767px) {
    main {
        padding-top: 72px;

    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 12px 15px;
}

@media (max-width: 767px) {
    header {
        padding: 16px 20px;
        height: 72px;
    }

    .logo-link img {
        height: 38px;
    }

    .nav-links-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #F25C05;
        padding: 30px 0;
        display: none;
    }

    .nav-links {
        display: inline;
    }

    .nav-links a {
        display: block;
    }

    .mobile-menu-close {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .mobile-menu-close,
    .mobile-menu-open {
        background-color: transparent;
        border: 0;
        color: white;
        font-size: 20px;
        width: 44px;
        height: 44px;
        padding: 0;
    }

    .nav-links-container.open {
        display: flex;
    }

    .revert-on-mobile {
        flex-direction: column-reverse;
    }

    .revert-on-mobile div[class^="col-"] {
        padding: 0 20px;
    }
}

@media (min-width: 768px) {

    .mobile-menu-close,
    .mobile-menu-open {
        display: none;
    }
}