.intro-section {
    background-color: var(--bg-color);
    color: white;
    font-family: 'Work Sans', sans-serif;
    padding: 5px 0 82px;
}

.intro-section p:first-of-type {
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.intro-section h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    font-family: 'Crimson', sans-serif;
    font-weight: 700;
}

.intro-section a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-decoration: none;
    color: #000000;
    border-radius: 5px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    height: 48px;
    width: 170px;
}

.intro-section img {
    width: 100%;
}

.intro-section .image-container,
.companies-section .image-container {
    display: flex;
    align-items: center;
}



.companies-section {
    padding-top: 60px;
}

.companies-section .nested-container {
    display: inline;
    text-align: center;
}

.companies-section .text-width {
    max-width: 412px;
    margin: 0 auto;
    text-align: center;
}

.companies-section .nested-container p:first-of-type,
.companies-section .team-talents p:first-of-type {
    color: #F3D92C;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.companies-section .nested-container h1:first-of-type,
.companies-section .team-talents p:first-of-type {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
}

.companies-section .nested-container p:last-of-type,
.companies-section .team-talents p:first-of-type {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
}

.companies-section .companies-logos img {
    padding: 34px;
}

.companies-section a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212529;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    height: 48px;
    width: 170px;
}

.companies-section img {
    max-width: 100%;
}

.companies-section .cards {
    padding-top: 74px;
}

.companies-section .cards-container .card-paragraph {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    color: rgba(33, 37, 41, 0.5);
}

.companies-section .cards-container h1 {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    color: #212529;
}

.companies-section .cards .text-alignment {
    padding-left: 40px;
}

.companies-section .cards .img-alignment {
    justify-content: flex-end;
}

.companies-section .cards .padding-bottom {
    padding-bottom: 100px;
}

.companies-section .team-members .card {
    max-width: 280px;
    background: #FFFFFF;
    box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.companies-section .team-members .card h5 {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    color: #212529;
}

.companies-section .team-members .card-padding {
    padding: 20px 39px 19px 39px;
}


/* Desktops */
@media (min-width: 1200px) {}

/* Small desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Tablets */
@media (min-width: 768px) and (max-width: 991px) {}

/* Mobile */
@media (max-width: 767px) {
   
    .text-container {
        margin-top: 30px;
    }

    .intro-section {
        padding-bottom: 40px;
    }

    .companies-section {
        padding-top: 22px;
    }

    .companies-section .cards .padding-mobile {
        padding-top: 36px;
    }

    .companies-section .cards-container .card-paragraph {
        line-height: 18.75px;
    }
    
}

