.portfolio-section .row.alignment {
    margin: 0 auto;
    max-width: 430px;
    padding-top: 30px;
}

.portfolio-section .text-container p:first-of-type {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #F3D92C;
}

.portfolio-section .text-container h1 {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    color: #000000;
}

.portfolio-section .text-container p:last-of-type {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #000000;
}

.portfolio-section .container.padding {
    padding-bottom: 82px;
}

.portfolio-section .images.container img {
    width: 533px;
    height: 320px;
    margin-bottom: 55px;
}

.images .col-xl-6:last-child {
    scale: 98.7%;
}

.portfolio-section a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    height: 48px;
    width: 170px;
    margin-top: 9px;
    margin-bottom: 45px;
}


/* Desktops */
@media (min-width: 1200px) {}

/* Small desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Tablets */
@media (min-width: 768px) and (max-width: 991px) {}

/* Mobile */
@media (max-width: 767px) {

    .portfolio-section .row.alignment {
        padding-top: 34px;
    }

    .portfolio-section .container.padding {
        padding-bottom: 45px;
    }

    .portfolio-section a {
        margin-top: 0;
        margin-bottom: 0;
    }

    .portfolio-section .images.container img {
        margin-bottom: 0px;
    }

}