.services-section .row.alignment {
    margin: 0 auto;
    max-width: 430px;
    padding-top: 35px;
}

.services-section .text-container p:first-of-type {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #F3D92C;
}

.services-section .text-container h1 {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    color: #000000;
}

.services-section .text-container p:last-of-type {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #000000;
}

.services-section .card.dimensions {
    max-width: 340px;
    min-width: 270px;
}

.services-section .card-body.padding {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 46px;
    padding-bottom: 46px;
}

.services-section .card-title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    color: #000000;
}

.services-section .value {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    color: #000000;
}

.services-section .month-spacing {
    margin-left: 9px;
}

.services-section .container .title-container .month-and-subtitle {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    color: rgba(33, 37, 41, 0.5);
}

.services-section .title-container {
    padding-bottom: 52px;
}

.services-section .card-body .title-container {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    color: #212529;
}

.services-section .card-body ul {
    list-style-image: url('./services-images/Vector.svg');
}

.services-section .card-body li {
    margin-top: 6px;
    margin-bottom: 6px;
}

.services-section .card.dimensions a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    height: 48px;
    width: 170px;
    margin-top: 38px;
}

.services-section .card-shadow {
    box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}


/* Desktops */
@media (min-width: 1200px) {}

/* Small desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Tablets */
@media (min-width: 768px) and (max-width: 991px) {
    .services-section .card-mobile-spacing {
        margin-bottom: 50px;
    }

}

/* Mobile */
@media (max-width: 767px) {

    .services-section .row.alignment {
        padding-top: 20px;
    }

    .services-section .card-mobile-spacing {
        margin-bottom: 50px;
    }


    .footer-container {
        text-align: center;
    }

    .footer-copyright {
        display: flex;
        justify-content: center;
    }


}